@import url(http://fonts.googleapis.com/css?family=Signika:600);
body {
    background-color: #F5D2C8;
    font-family: 'Signika', 'Arial, Helvetica';
    font-weight: 600;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.table-text {
    position: absolute;
    left: 40%;
    top: 30%;
}

.card {
    height: 42px;
    width: 42px;
    position: relative;
}

.card .front {
    width: 42px;
    height: 42px;
    background-image: url(../images/kartatyl.png);
    background-repeat: no-repeat !important;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(-180deg);
    width: 42px;
    height: 42px;
    background-image: url(../images/karta.png);
    background-repeat: no-repeat !important;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    backface-visibility: hidden;
}

H3 {
    text-align: center
}

@font-face {
    font-family: "Signika";
    font-style: normal;
    font-weight: 600;
    src: url("http://fonts.gstatic.com/s/signika/v6/FZa_MODmDkR9DTu5jHSnSfk_vArhqVIZ0nv9q090hN8.woff2") format("woff2")
}